:host {
  display: block;
}

section {
  margin-top: 100px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;

}

.div1 {
  background-image: url("https://picsum.photos/id/402/2500/1667")
}

.div2 {
  background-image: url("https://picsum.photos/id/301/2500/1667")
}

.div3 {
  background-image: url("https://picsum.photos/id/302/2500/1667")
}

.div0 {
  background-image: url("https://picsum.photos/id/400/2500/1667")
}
